@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}